<settings>
    <servers>
        <!-- 需到 https://central.sonatype.com/usertoken 生成token -->
        <server>
            <id>central</id>
            <username>xxxxxxxxxxxxxxxxxxxxxxxxx</username>
            <password>xxxxxxxxxxxxxxxxxxxxxxxxx</password>
        </server>
    </servers>
</settings>