name: Maven Snapshot

on:
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix: 
        java: [21]
    name: Java ${{ matrix.java }} build
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Java ${{ matrix.java }} 
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
        server-id: central
        server-username: CENTRAL_USERNAME
        server-password: CENTRAL_PASSWORD
        gpg-passphrase: GPG_PASSPHRASE

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        passphrase: ${{ secrets.GPG_PASSPHRASE }} 
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        keyserver: hkp://keyserver.ubuntu.com # 指定 Sonatype 必查的服务器（Ubuntu 是最稳的）
        push: true # 开启推送功能
        git_config_global: true
        git_user_signingkey: true
        git_commit_gpgsign: true
        
    - name: Build with Maven  
      run: |  # sleep60 给公钥服务器一点同步时间
        sleep 60
        cp -fr my/pom.xml pom.xml
        mvn --batch-mode clean deploy -DskipTests=true
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
