name: Maven Snapshot

on:
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix: 
        java: [21]
    name: Java ${{ matrix.java }} build
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup Java ${{ matrix.java }} 
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
        server-id: central
        server-username: CENTRAL_USERNAME
        server-password: CENTRAL_PASSWORD
        gpg-passphrase: GPG_PASSPHRASE
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          
    - name: Build with Maven
      run: |
        cp -fr my/pom.xml pom.xml
        mvn --batch-mode -e -X clean deploy -DskipTests=true
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
